@media only screen and (max-width: 414px){
    body{
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
        box-sizing: border-box;

    }
    

    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: auto;
        /* align-items: center; */
        /* align-content: center; */
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }
    
    

    
    .bg-img{
        width: 100%;
    
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    
    .gif{
        padding-top: 11%;
        max-width: 105px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
}

 @media only screen and (min-width: 415px){
    body{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
        box-sizing: border-box;
    }
    
    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: auto;
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }

    

    .bg-img{
        width: 100%;
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    
    .gif{
        padding-top: 11%;
        max-width: 170px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
} 

 @media only screen and (min-width: 769px){
    body{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
        box-sizing: border-box;
    }
    
    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: auto;
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }


    .bg-img{
        width: 100%;
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    
    .gif{
        padding-top: 11%;
        max-width: 250px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
} 

 @media only screen and (min-width: 1000px){
    body{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
        box-sizing: border-box;
    }
    
    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: auto;
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }
    
    
    .bg-img{
        width: 100%;
        position: absolute;
        z-index: -1;
        margin: 0;
    }

    .gif{
        padding-top: 11%;
        max-width: 300px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
} 
 @media only screen and (min-width: 1150px){
    body{
        width: 100%;
        height: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-color: black;
        box-sizing: border-box;
    }
    
    #playlist{
     
    
        margin: 0;
    
        display: flex;
        height: auto;
        justify-content: space-around;
    }
    
    
    #final-video{
        margin: 0;
    }
  
    
    .bg-img{
        width: 100%;
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    
    .gif{
        padding-top: 11%;
        max-width: 400px;
        height: auto;
    } 
     
     
    
    
    .show{
        display: block;
    }
    
    .hide{
        display: none;
    }

     
} 

/* @media only screen and (max-width: 1100px){
    .gif{
        padding-top: 11%;
        max-width: 290px;
        max-height: 210px;
    } 
     
}

@media only screen and (max-width: 945px){
    .gif{
        padding-top: 11%;
        max-width: 250px;
        max-height: 190px;
    } 
     
}

@media only screen and(max-width: 800px){
    .gif{
        padding-top: 11%;
        max-width: 80px;
        max-height: 185px;
    } 
     

}

 */
